@import url("webfont.css");

html, body {
	background-color: black;
	color: white;
	font-family: "8-bit Operator Mono", sans-serif;
}

canvas {
	display: block;
	width: 640px;
	height: 480px;
	margin: 40px auto;
}

div.top-buttons{
	padding: 4px;
	margin: auto;
	text-align: center;
	font-size: 18px;
}

#volVal {
	position: relative;
	bottom: 10px;
	left: 20px;
}

#muteButton {
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px; /* The object get pushed FROM the direction in question. So, if I set left to 50px, the object would get pushed 50px to the right. */
}

div.bottom-credits{
	position: absolute;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	height: 45px;
	bottom: 0;
	left: calc(50% - 210px);
	width: 420px;
	padding: 8px 0;
	overflow: hidden;
	transition: all 0.3s ease;
}


div.bottom-credits span{
	display: inline-block;
}



a{
	color: #00ffff;
	text-decoration: none;
}

a:hover{
	color: #33cccc;
}

.muted, .unmuted {width:54px;height:31px;}

/* label {
	font-size: 12px; /* Set font size to 12 pixels 
	text-align: right !important; /* Align text to the right and set align as important so it *shouldn't* get overrode 
	float: left; /* Set float to left so it shouldn't break the line 
	margin-left: 5px;
} */

.slidecontainer {
	width: 25%; /* Width of the outside container */
	margin-left: 0 auto !important; /* Center the volume slider so it doesn't look out of place */
	margin-right: 0 auto !important; 
	display: inline;
	vertical-align: top;
	float: left;
	text-align: center;
	padding: 4px;}
.slider {
	-webkit-appearance: none; /* override default css styles */
	appearance: none;
	width: 25%; /* Full-width */
	height: 15px; /* Specified Height */
	background: #1d1d1d; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* set transparency (for mouse-over effects on hover */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	display: block;
	margin: 0 auto;}
/* Mover-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */}
/* The slider handle (use webkit (chrome, opera, safari, edge) and moz (firefox to override default look */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* override default look */
	appearance: none;
	width: 25px; /* set a specific slider handle width */
	height: 15px; /* slider handle height */
	background: #ffffff; /* white background */
	cursor: pointer; /* cursor on hover */}
.slider::-moz-range-thumb {
	width: 25px; /*Set a specific slider handle width */
	height: 15px; /*slider handle height */
	background: #ffffff; /* green background */
	cursor: pointer; /*cursor on hover */}
